@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
    font-family: 'Intro Regular Alt';
    src: url('Intro\ Regular\ Alt.otf') format('opentype');
    font-weight: 300;
    font-style: bold;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Intro Regular Alt', sans-serif;
    font-style: bold;
}

body {
    min-height: 100vh;
    background-color: #D8BFD8; /* Light purple background */
    overflow-y: auto; /* Allow scrolling */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

/* Logo */
.logo {
    margin-left: -70px;
    pointer-events: none;
}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.no-underline:hover::before {
    content: none;
}

.about-weirdshape-rectangle {
    position: absolute;
    bottom: 200px; 
    left: 90px; 
    width: 320px; 
    height: 600px; 
    background-color: #B0E0E6; /* Pale blue */
    font-family: 'Intro Regular Alt', sans-serif;
    color: black;
    border-radius: 160px 160px 0 0; 
    z-index: 3; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 40px 20px;
    text-align: center;
}

.about-weirdshape-rectangle img {
    position: absolute;
    top: 10%; 
    left: 50%;
    width: 60%;  
    height: auto;
    transform: translate(-50%, 0);
    object-fit: contain;
    border-radius: 50%;
    z-index: 4;
}
.about-weirdshape-rectangle p {
    position: relative;
    margin-top: 220px; 
    font-size: 16px;
    color: black;
    z-index: 5;
}
.bigwhiterectangle {
    position: relative; 
    width: 100%;
    height: auto;
    min-height: 550px; 
    background-color: #E6E6FA; /* Light lavender */
    font-family: 'Intro Regular Alt', sans-serif;
    font-style: bold;
    font-size: 27px;
    z-index: 2; 
    padding-bottom: 50px; 
}


.bigwhiterectangle p {
    color: #000000;
    padding-left: 570px;
    padding-top: 50px;
    padding-right: 50px;
}

.ABOUT-ME-text {
    color: #fff;
    padding-left: 570px;
    font-size: 100px;
    font-style: bold;
    position: relative; 
    margin-top: 100px;
}
